* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: #f1f4f7;
	/* padding-top: 50px; */
	color: #5f6468;
	font-family: "Roboto", sans-serif;
	overflow-x:scroll;
	width: 100%;
}

p {
	color: #777;
	text-align: justify;
}

a, a:hover, a:focus {
	color: #e74c3c;
}

h1, h2, h3, h4, h5, h6 {
	color: #5f6468;
}

h1 {
	font-weight: 300;
	font-size: 40px;
}

h2 {
	font-weight: 300;
	margin-bottom: 20px;
}

h3, h4 {
	font-weight: 300;
}
 
.white{
	  background-color: white;
}

.white-bar{
	height: 3px;
	width: 50%;
	color: white;
	background-color: white;
}
.red-bar{
  height: 3px;
  width: 50%;
  color: #e74c3c;
  background-color: #e74c3c;
}

.pera-text{
	color: white;
	font-size: 16px;
}

.red-background{
	background-color: #e74c3c;
	min-height: 460px;
	height: auto;
	padding: 10px
}
  
/*Jumbotron*/

.jumbotron {
	background: #fff;
	border-bottom: 1px solid #eee;
	color: #5f6468;
	padding: 30px; /* fills out the jumbotron */
	
}
  
  .container {
	width: 1170px; /* specify a width */
	margin: 0 auto;  /* centers the container */
	padding: 0 15px; /* adds some padding to the left and right*/
  }
  
 
  
  .jumbotron h1 { 
	text-align: center; /* centers the heading */
	color:brown;
	font-weight: 600;
	text-transform: uppercase;
 	 }

	 .jumbotron p{
		color:darkslategray;
		font-weight:500 ;
	 }

/*Buttons*/

a.btn:hover,
button:hover {
	opacity: 0.8;
}

a.btn:active,
button:active {
	box-shadow: inset 0px 0px 500px rgba(0,0,0,.1);
	opacity: 1;
}

.btn-default,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default{
	background-color: #e9ecf2;
	border-color: #e9ecf2;
	color: #1b3548;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary{
	background-color: #30a5ff;
	border-color: #30a5ff;
}

/* footer */

.footer{
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	margin-top: 150px;
	width: 100%;;
	padding: 30px 0px 30px 30px;
		background: #333;
	color: #ffb53e;
	display: flex;
}
.column{
	float: left;
	width: 33.33%;
}

.col-1{
	text-align: center;
	
}

.col-2{
	text-align: center;
	
}

.col-3{
	text-align: center;
	
}

.footer div{
	text-align: center;
}


.footer div h3{
	font-weight: 300;
	letter-spacing: 1px;
	
}

.col-1 a{
	display: block;
	text-decoration: none;
	color: #efefef;
	margin-bottom: 10px;
		}

form input{
	width: 400px;
	height: 45px;
	border-radius: 4px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
	outline: none;
	border: none;
}

form button{
	background: transparent;
	border: 2px solid #fff;
	color: #fff;
	border-radius: 30px;
	padding: 10px 30px;
	font-size: 15px;
	cursor: pointer;
}

.socialicon{
margin-top: 30px;
}

.socialicon i{
	font-size: 22px;
	margin: 10px;
	cursor: pointer;
}

.fa{
	font-size: 32px !important;
	margin-right: 20px;
  }
  .socialicon{
	font-size: 22px;
	padding: 20px;
	font-weight: 400px;
  
  }
  .socialicon .fa{
	margin-left: 10px;
	margin-right: 5px;
  }


/*  endoffooter */


/* faq */

.container-fluid{
	width: 40%;
	margin: 0 auto;
	margin-top: 100px;
}

.container-fluid h2{
	position: relative;
	width: 23rem;
}

.container-fluid h2::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 12px;
	width: 67px;
	height: 2px;
}

.accordion{
	width: 100%;
	padding: 0 5px;
	border: 2px solid #285e8e;
	cursor: pointer;
	border-radius: 50px;
	display: flex;
	margin: 10px 0;
	align-items: center;
}

.accordion .icon{
	margin:0 10px 0 0;
	width: 30px;
	height: 30px;
	background: url(images/toggle-bg.png) no-repeat 8px 7px #30a5ff;
	border-radius: 50%;
	float: left;
	transition: all .5s ease-in;

	
	content: '+';
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 2px
	

}

.accordion .icon::after{
	 margin:0 10px 0 0;
	width: 30px;
	height: 30px;
	background: url(images/toggle-bg.png) no-repeat 8px 7px #30a5ff;
	border-radius: 50%;
	float: left;
	transition: all .5s ease-in; 

	 /* up of code of vid  */
}

.accordion h4{
	font-size: 22px;
	margin: 0;
	padding: 3px 0 0 0;
	font-style: normal;
	color: #285e8e;
}

.panel{
	padding: 0 15px;
	border-left: 1px solid #285e8e;
	margin-left: 25px;
	font-size: 14px;
	text-align: justify;
	overflow: hidden;
	max-height: 300px;
	transition: all .5s ease-in;
}

.active .icon::after{
	/* background: url(img/toggle-bg.png) no-repeat 8px -25px #fff;  code ofvid */

	content: '-';
    right: 14px;
    top: 3px;
}

.active{
	background-color: #6db5ff;
	color: #fff;
}

/* endoffaq */


/*nav*/
.navbar-nav li a {
	color:#e74c3c;
	font-size: 16px; 
}

.navbar-nav li a{
	color: #e74c3c !important;
}
.btn-danger{
	background-color: #e74c3c;
	border-radius: 25px;
	padding: 10px 30px;
	font-size: 22px;
	font-weight: 700;
}
.btn-danger:hover{
	background-color: rgba(192, 57, 43,1.0);
	border-color: rgba(192, 57, 43,1.0);
}

.center-aligned{
	display: table;
	margin: 0 auto;
}



/* Sidebar */

.sidebar {
	display: block;
	background-color: #fff;
	padding: 0;
	display: none;
}

.sidebar form {
	padding: 20px 15px 5px 15px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}

@media (min-width: 768px) {
	.sidebar {
		display: block;
  		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		margin: 0;
		padding: 30px;
		overflow-x: hidden;
		overflow-y: auto; 
		background-color: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}
	
}


.sidebar ul.nav a:hover, 
.sidebar ul.nav li.parent ul li a:hover {
	text-decoration: none;
	background-color: #e9ecf2;
}

.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active,
.sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover,
.sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
	color: #fff;
	background-color: #e74c3c;
}

.sidebar ul.nav ul,
.sidebar ul.nav ul li {
	list-style: none;
	list-style-type: none;
}

.sidebar ul.nav ul.children {
	width: auto;
	padding: 0;
	margin: 0;
	background: #f9f9f9;
}

.sidebar ul.nav ul.children li a {
	height: 40px;
	background: #f9f9f9;
	color: #30a5ff!important;
}

.sidebar ul.nav li.current a {
	background-color: #30a5ff;
	color: #fff!important;
}

.sidebar ul.nav li.parent ul li a {
	border: none;
	display:block;
	padding-left: 30px;
	line-height: 40px;
}

/*Navigatiion starts*/
.navbar-brand, .nav-link {
	color: #e74c3c !important;
  }
  .navbar-default {
	background-color: white !important;
	border-color: rgba(34, 34, 34, 0.05);
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	
  }
  .navbar-default .navbar-toggler .navbar-brand {
	color: #e74c3c !important;
	font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
  }
  .navbar-default .navbar-toggler .navbar-brand:hover,
  .navbar-default .navbar-toggler .navbar-brand:focus {
	color: #eb3812;
  }
  .navbar-default .navbar-toggler .navbar-toggle {
	font-weight: 700;
	font-size: 12px;
	color: #222222;
	text-transform: uppercase;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	color: #222222;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
	color: #F05F40;
  }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus {
	color: #F05F40 !important;
	background-color: white;
  }
  .navbar-default .nav > li.active > a:hover,
  .navbar-default .nav > li.active > a:focus:hover {
	background-color: white;
  }
  @media (min-width: 768px) {
	  .form-group{
		  text-align: center;
	  }
	.no-image{
	  display: none;
	}
	.navbar-default {
	  background-color: white !important;
	  border-color: rgba(255, 255, 255, 0.3);
	}
	.navbar-default .navbar-toggler .navbar-brand {
	  color: #F05F40;
	}
	.navbar-default .navbar-toggler .navbar-brand:hover,
	.navbar-default .navbar-toggler .navbar-brand:focus {
	  color: #F05F40;
	}
	.navbar-default .nav > li > a,
	.navbar-default .nav > li > a:focus {
	  color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus:hover {
	  color: white;
	}
	.navbar-default.affix {
	  background-color: white;
	  border-color: rgba(34, 34, 34, 0.05);
	}
	.navbar-default.affix .navbar-toggler .navbar-brand {
	  color: #F05F40;
	  font-size: 14px;
	}
	.navbar-default.affix .navbar-toggler .navbar-brand:hover,
	.navbar-default.affix .navbar-toggler .navbar-brand:focus {
	  color: #eb3812;
	}
	.navbar-default.affix .nav > li > a,
	.navbar-default.affix .nav > li > a:focus {
	  color: #222222;
	}
	.navbar-default.affix .nav > li > a:hover,
	.navbar-default.affix .nav > li > a:focus:hover {
	  color: #F05F40;
	}
  }
  
  /*drop shadow*/
  nav{
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.14);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.14);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.14);
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  }

  /*navigation ends*/
  
  
  .header-img{	
	 background: url(../img/4.jpg) no-repeat center center fixed;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	  background-size: cover;
	 -o-background-size: cover;
	  height: auto;
	  min-height: 460px;
	  padding: 100px;
	  color: white;
	  font-weight: 700;
  }
  .header-img p{
	font-weight: 100;
	font-size: 18px;
  }
  .form-group{
	  padding-right: 20px;
  }
  .header{
	margin: 0;
	  padding: 20px 0;
  }
  .red-background p{
	  padding: 40px;
  }
  .btn-danger{
	  background-color: #e74c3c;
	  border-radius: 25px;
	  padding: 10px 30px;
	  font-size: 22px;
	  font-weight: 700;
  }
  .red{
	  color: #e74c3c;
  }
  .btn-default{
	  color: #e74c3c;;
	  border-radius: 25px;
	  padding: 10px 30px;
	  font-size: 22px;
	  font-weight: 700;
	background-color:#fff;
  }
  
  .btn-default:hover{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
  }
  .center-aligned{
	  display: table;
	  margin: 0 auto;
  }
  .margin10px{
	  margin: 10px;
  }
  
 


/* donate */
.form-control {
	border: 1px solid #eee;
	box-shadow: none;
}

.form-control:focus {
	border: 1px solid #30a5ff;
	outline: 0;
	box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

/* endofdonate */



.card-container {
    width: 90%;
    margin: 0 auto;
    padding: 0.5em 0;
    background-color: rgb(255, 248, 248);
	border: 3px solid rgba(217, 219, 255, 0.676);
}

.places {
    width: 90%;
    margin: 0.5em auto;
      border: 2px solid rgb(109, 67, 177);
}


.description {
    padding: 1em 2em;
	color: #0e212f;
}


.card-container a {
    color: rgb(36, 26, 93);
    text-decoration: none;
    font-family: sans-serif;
}




@media (min-width: 640px) { 

	.card-container {
			display: flex;
			flex-flow: wrap;
		}
	
	.places {
		flex: 1 0 48%;
		margin: 1%;
	}
	
	@media (min-width: 1001px) {
		.places {
			flex: 1 0 31%;
		}
	
		.places:last-of-type {
			flex-grow: 0;
		}
	}}